############
# Compiled #
############
*.class

#################
# IDE Generated #
#################
.classpath
.project
.settings

##########
# Output #
##########
*.wav

########
# Misc #
########
*~